@model WebApplicationSS.Models.Member
@{
    ViewBag.Title = "Add";
}


<div class="signup-form">
    <h2>加入會員</h2>
    <form action="/Member/Insert" method="post">
        <input type="text" name="MemberName" placeholder="姓名" />
        <input type="text" name="Username" placeholder="帳號" />
        <input type="password" name="Password" placeholder="密碼" />
        <input type="email" name="Email" placeholder="Email" />

        <button type="submit" class="btn btn-default">註冊</button>
    </form>

</div>